.textarea {
  all: unset;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--white);
  padding: 1rem;
  word-break: break-all;
  width: 100%;
}

.transparent {
  background-color: transparent;
  border: 1px solid var(--gray-90);
  color: var(--gray-90);
}

.transparent::placeholder {
  color: var(--gray-90);
}
